@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-background text-foreground font-sans antialiased;
}

a {
  @apply text-foreground;
}

input, textarea, select {
  @apply outline-none;
}

.section-title {
  @apply text-2xl md:text-3xl font-display;
}
