version: "3.9"
services:
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: edzo
      POSTGRES_PASSWORD: edzo
      POSTGRES_DB: edzoapp
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
